<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="depends,defects"
    failOnWarning="true"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="SaudiBanks">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
